<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.aptewicz.nodemaps"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MapResult"
            android:label="@string/title_activity_map_result">
        </activity>

        <activity android:name=".SettingsActivity" android:label="SettingsActivity">
        </activity>

        <activity android:name=".FindAddressActivity">
        </activity>

        <activity android:name=".AddFtthJobActivity">
        </activity>

        <activity android:name=".FtthJobDetailsActivity">
        </activity>

        <activity android:name=".UpdateFtthJobActivity">
        </activity>
        
        <service android:name=".service.FetchLocationIntentService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC9vAiYLpxdDTzAEIVE9c3cN_c5oJEnJeU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
